@font-face {
    font-family:'OpenSans' ;
    src: url('font/OpenSans.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
    scroll-behavior: smooth;
    color:#ffffff;
    --theme: #EF212A;
    --background: #2C2D2F;
}

body{
    position: relative;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section{
    min-height: 100vh;
}

.section--fixed-background {
    background-attachment: fixed;
}

.section--color-background{
    background-color: var(--background);
}

/* Home page CSS */
#home{
    background-image: url('../img/home.jpeg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#logo{
    text-decoration: none;
    cursor: pointer;
}

.header{
    --header-background: rgba(255, 255, 255, 0.1);
    font-size: 115%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 50px;
    color: inherit;
    background: var(--header-background);
    position: fixed;
    width: 100%;
    transition: background 250ms ease-in;
    -webkit-transition: background 250ms ease-in;
    -moz-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
    z-index: 999;
}

.header-scrolled{
    --header-background: #2C2D2F;  
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}


.nav-list{
    list-style: none;
    display: flex;
    column-gap: 50px;
}

.nav-link{
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.nav-link:hover{
    color: var(--theme);
    font-size: 120%;
}

.active{
    color: var(--theme);
    font-weight: bold;
}

#profile-picture{
    margin: 0%;
    padding: 1%;
    aspect-ratio: 2/1;
    width: 30%;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 7px 7px 20px rgba(27, 29, 54, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-picture img{
    aspect-ratio: 1/1;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

#name{
    margin-top: 5%;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(100% - 92px);
    z-index: 100;
}
.arrows path {
    stroke: var(--theme);
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
@-webkit-keyframes arrow{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
}
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
}
  
.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s;
}


/* About me page CSS */

#about{
    position: relative;
}

#about-me--picture--div{
    background-color: #222428;
    width: 30%;
    height: 67vh;
    position: absolute;
    left: 10%;
    top: 25vh;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgba(94, 94, 94, 0.2);
}

#about-me--picture{
    height: 80vh;
    position: absolute;
    left: 5%;
    top: 12vh;
    z-index: 2;
}

#about-me{
    height: 70vh;
    width: 45%;
    position: absolute;
    left: 50%;
    top: 20vh;
}

#about-me h2{
    font-weight: 500;
}

#about-typing{
    color: var(--theme);
}

#about-me--text{
    color: #C6CFDD;
    font-size: 120%;
    font-weight: 400;
    line-height: 200%;
    margin-top: 7%;
    text-align: justify;
}

#about-me--text a{
    color: var(--theme);
    text-decoration: none;
}

#about-me--icos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ico--el{
    width: 40%;
    flex-basis: 50%;
    display: flex;
    margin-top: 5%;
    align-items: center;
}

.ico--el img{
    width: 40px;
    height: 40px;
}

.ico--el p{
    width:100%;
    margin-left: 5%;
    color: #C6CFDD;
}

.ico-name{
    color: #ffffff;
    font-weight: 500;
}

#cv-button {
    margin-top: 7%;
    padding: 2.5% 5%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--theme);
}
  
#cv-button:hover {
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 4px 5px 17px -4px #268391;
}
  
#cv-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fb3f52;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
  
#cv-button:hover::before {
    width: 250%;
}

/* Skills page CSS */

#skills{
    background-image: url('../img/services.jpeg');
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 80%;
    height: 70vh;
    border-radius: 15px;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

#prev img{
    position: absolute;
    left: 5%;
    top: 50vh;
    width:40px;
    height: 40px;
    cursor: pointer;
}

#next img{
    position: absolute;
    right: 5%;
    top: 50vh;
    width:40px;
    height: 40px;
    cursor: pointer;
}

#dot-container{
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 10px;
    border: var(--theme) 2px solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s linear;
}

.dot.active{
    background-color: #ea335599;
}

.skills{
    width: 100%;
    height: 100%;
}

.skills p{
    height: 10%;
}

.skills-graph{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-content{
    aspect-ratio: 1/1;
    width: 15%;
    position: relative;
    flex: 0 0 34%;
}

.progress-bar--inner{
    position: absolute;
    top:0;
    width: 100%;
    z-index: 1;
    transform: rotate(-90deg);
}

.progress-bar--outer{
    transform: rotate(-90deg);
    stroke:rgba(139, 136, 136, 0.34);
}

.progress-bar--inner svg circle{
    stroke-dasharray: 1257;
    stroke-dashoffset: 1257;
    stroke: var(--theme);
}

.progress-bar--text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar--text img{
    position: absolute;
    width:40%;
}